
*,
::after,
::before {
    box-sizing: border-box;
}


.banner2 {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 55vh;
margin-left: 100px;
margin-top: 100px;
@media (max-width: 768px) {
    width: 335px;
    margin: 0;
    flex-direction: column;
    padding: 32px 20px 0;
    margin-bottom: 60px;
    .banner2-l {
        margin-left: 0;
        padding-top: 20px;
        h3 {
            font-size: 32px;
            font-weight: 1000;
        }


        }
   
    }

}

.banner2-l {
    flex-direction: column;
    @media (max-width:768px) {
        width: 335px;
        margin: 0;

    }
}

.text2-2{
    @media(max-width:768px){
        width: 370px;
        margin: 0 auto;
    }
    }
.price2btn{
    
    width: 910px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 64px;
    
    a {
        justify-content: center;
        align-items: center;
        background: white;
        color: #56C4C5;
        padding: 12px 32px;
        border-radius: 27px;
        text-decoration: none;
        border: 1px solid #56c4c5;

        &:hover {
            background: #56c4c5;
            color:white
        }
    }


    @media (max-width:768px){
width: 390px;
overflow-x: scroll;
justify-content: space-between;
a{
            font-size: 16px;
            padding: 0;
            padding: 8px 16px;
                }
    }
}

.price2-message{
    width: 909px;
    margin: 0 auto;  
margin-bottom: 100px;

@media(max-width: 768px){
    width: 380px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 24px;
}

}

.price2box{
        width: 445px;
        background: white;
        box-shadow: 0px 2px 10px #00000014;
      padding-bottom: 32px;
  h2{

border-bottom: 1px solid rgb(191, 190, 190);
padding: 12px; 
margin-bottom: 24px;}

p{  
    
    margin: 0 auto;
    text-align: center;
    margin-bottom: 32px;



}


@media(max-width: 768px){
  
width: 335px;

    margin-bottom: 24px;
}
    }

    .price2{
        margin: 0 auto;
        margin-left: 29px;
h4{font-size: 29px;
   margin: 33px 21px 33px 17px;
  
}
 @media(max-width: 768px){
     width: 300px;
   margin: 0 auto;
   h4{
    font-size: 28px;
    // margin: 24px 25px 27px 32px;
   }
    }
       
    }
    .price2num,.price2money{
        width: 170px;
        background: #F5F5F5;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            font-size: 12px;
            padding-bottom: 8px;
        }

@media (max-width: 768px){
    width:139px;
    margin: 0 auto;

}
    }
 
.pblock{
    
    flex-direction: row;
    
  
}

    .price2information{
        margin-left: 29px;
        img{
            padding-right: 16px;
        }
        margin-top: 32px;
        margin-bottom: 44px;

        ul li{
            padding-bottom: 16px;
        }
        @media (max-width:768px){
            ul li{
        font-size: 14px;
       }
    }
    }
    .price2-endbtn{
        margin: 0 auto;
        width: 450px;
        justify-content: center;
        margin-top: 32px;
        a {
            justify-content: center;
            align-items: center;
            background: #56C4C5;
            color: white;
            padding: 12px 32px;
            border-radius: 27px;
            text-decoration: none;
            border: 1px solid #56c4c5;
    width: 136px;
            &:hover {
                background: #479d9f;
                color:white
            }
        }
        @media (max-width:768px){
            width: 335px;
        }
    }

    .question{
        width: 904px;
        margin: 0 auto;

        @media (max-width:768px){
width: 370px;
margin-bottom: 60px;
        }
    }
.question-list{
    
    padding: 16px ;

    h3{
        padding-left: 24px;
        padding-bottom: 32px;
    }
   
}
    .question-top
    {
        cursor: pointer;
        padding: 16px ;
        justify-content: space-between;
        box-shadow: 0px 2px 10px #00000014;
  
        @media (max-width:768px){
            h2 {
                padding: 0;
                padding-left: 16px;
                font-size: 16px;
            }
            h3{
                padding: 0;
                padding-top: 16px;
                padding-left: 16px;
            }

            }  }

    .question-text{
        cursor: pointer;
        box-shadow: 0px 2px 10px #00000014;
p{
    padding: 16px ;
    justify-content: space-between;
    flex-direction: row;
display: flex;
}
      
    }
    